html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
    background-color: #f9f9f9;
    font-size: 1rem;
    font-weight: 400;
    color: #333;
}
h1 {
    font-family: 'Urbanist', serif !important;
    font-optical-sizing: auto !important;
    font-weight: 700 !important;
    font-style: normal !important;
    margin-bottom: 0 !important;
    font-size: 3.75rem !important;
}
p {
    margin-bottom: 1rem !important;
}
a {
    text-decoration: none;
    color: #ff5900;
    &:hover {
        color: #333;
        text-decoration: underline;
    }
}
.subHeader {
    font-family: 'Urbanist', serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    margin-left: 0.5rem;
}
