<div class="p-4">
    <!-- Search and Filter Controls -->
    <div>
        <input (ngModelChange)="onSearch($event)" [(ngModel)]="searchTerm" matInput placeholder="Search by name or email" />

        <!-- <button (click)="toggleFavorites()" color="primary" mat-raised-button>
            {{ showFavoritesOnly ? 'Show All' : 'Show Favorites' }}
        </button> -->
    </div>

    <!-- Users Grid -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        @for (user of filteredUsers$ | async; track user.id) {
            <lib-card (favoriteToggled)="onFavoriteToggled($event)" [user]="user" />
        } @empty {
            <div class="col-span-full text-center py-8">
                <p class="text-brand font-bold">No users found matching your criteria</p>
            </div>
        }
    </div>
</div>
